# Flutter
mobile/.dart_tool/
mobile/.packages
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies

# Node
backend/node_modules/
admin/node_modules/

# Environment
.env
.env.*

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db